
body,html {
    height: 100%;
    font-family:"PT Serif",serif;
    line-height:2.5em;
}

body {
    padding-top: 50px;
}
h2{
    font-size:40px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin-left: 0;
    padding-left:0;
}
.navbar{
   background-image: url('http://i45.tinypic.com/r0qglx.jpg');
    border-bottom:5px solid #77cdcc;
    padding:20px 0;
    -webkit-box-shadow: 0 6px 4px -6px #999;
    -moz-box-shadow: 0 6px 4px -6px #999;
    box-shadow: 0 6px 4px -6px #999;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
    background:none;
}

.navbar .navbar-brand{
    font-size:35px;
    color:#eee;
}
footer{
    background-color: #77cdcc;
}
footer a{
    color:#fff;
    font-weight:bold;
    text-decoration: underline;
}
.btn-dark{
    color:#fff;
    background-color: #333;
}
.btn-dark:hover{
    color:#eee;
}
header {
    background:
            radial-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(119, 205, 204, 0.9)
            ),
            url(http://dcfemtech.github.io/images/ladies.jpg);
    background-size: cover;
    height: 100vh;
}

.title {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
header h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 3.8rem;
    text-shadow: 2px 2px #000;
}
header p {
    margin: 0;
    font-size: 1.3rem;
}
#intro p, #intro ul{
    font-size:22px;
}
#groups{
    background-color:#3a3a3a;
}
#groups .row img{
    width: 200px;
    height:200px;
    padding:10px;
    border:1px solid #d3d3d3;
    padding:5px;

}
#groups .row{
    margin:30px 0;
}
.fc-border-separate tbody tr.fc-first td, .fc-border-separate tbody tr.fc-first th{width:14.28%}
footer{
    color:#fff;
}
.footer .btn{
    background-color:#333;
}

#article{
    margin-top:60px;
}
#article .leftrail a{color:#77cdcc}
#article .leftrail h1{
    margin: 20px 0;
    font-size:40px;
}
.organizations #article p{
    border-bottom:1px solid #333;
}
#article .leftrail h2{
    margin:20px 0;
    font-size:30px;
}
#article .rightrail h2{
    margin:0;
    background-color: #77cdcc;
    border-radius: 5px;
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    width:100%;
}
#article .rightrail h2 a{
    color:#fff;
}
.slick-prev, .slick-next {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    margin-top: -10px;
    outline: medium none;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 20px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: transparent none repeat scroll 0 0;
    color: transparent;
    outline: medium none;
}
.slick-prev:hover::before, .slick-prev:focus::before, .slick-next:hover::before, .slick-next:focus::before {
    opacity: 1;
}
.slick-prev.slick-disabled::before, .slick-next.slick-disabled::before {
    opacity: 0.25;
}
.slick-prev::before, .slick-next::before {
    -moz-osx-font-smoothing: grayscale;
    color: white;
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
}
.slick-prev {
    left: -25px;
}
[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}
.slick-prev::before {
    content: "\25C0";
}
.slick-next {
    right: 0px;
}
.slick-next::before {
    content: "\25b6";
}

#meetup {
    height: auto;
    max-height: 550px;
    border:1px solid #77cdcc;
    border-radius: 10px;
    padding:10px;
    overflow-x: hidden;
    margin:25px 0;
}
#meetup .lists{
    border-bottom: 1px solid #ddd;
    float: left;
    line-height: 20px;
    margin-bottom: 9px;
    width: 100%;
}
#meetup .dt{
    float:left;
    margin-right:20px;
    width:20%;
    text-align:center;
}
#meetup .dt .sTime{
    font-size:12px;
    color:#77cdcc;
}
#meetup .dt .sMonth{
    font-weight:bold;
    font-size:20px;
}
#meetup .dt .sDay{
    display: block;
    font-size:16px;
}

.sponsors{
     display: table;
     height:200px;
 }
.sponsors a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.copyright{
    background-color: #333;
    color:#fff;
    font-size:10px;
    text-align: center;
}
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width:480px) {
    header h1{
        font-size:2.8rem;
    }

}